
<h1>Welcome, <%="#{@user.name}"%>!</h1>
</h4> <a href = "/user">View Profile</a> </h4>
<br><br>
<h6>A fun message goes here</h6>
<br><br>
<h4>Lists:<h4>
 <% list= @user.plant_lists.collect{|list| list.list_name}.uniq%>
 <% list.each do |listname| %>
    <h4> <a href="/plantlist/<%=listname%>"> <%=listname %> </a></h4>
    <h6> <a href ="/plantlist/<%=listname%>/edit">Edit <%=listname%> List</a> || <a class="btn light-green" href ="/plantlist/<%=listname%>/delete">Delete <%=listname%> List</a></h6>
    <br>
 <% end %>
 <h6><a href="/plantlist/new">Add New List!<a></h6> 
 <br>
